body {
  height: 100%;
  background-image: url("../image/tic-tac-toe.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
  text-align: center;
  color: #000000;
}

#container {
  width: 960px;
  min-height: 80%;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 5% auto;
  background-color:   #E0E0E0;
}

#sub-container {
  position: relative;
  top: 20%;
}

button {
  display: block;
  width: 250px;
  height: 75px;
  margin: 10px auto 0;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1 {
  margin-bottom: 50px;
  font-size: 6.5em;
  font-weight: bold;
  color: #FF0099;
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

#start{
  margin-top: 10%;
  background: #CC66FF;
}

#quiz h2 {
  margin-top: 50px;
}

button:hover {
  background: #CC66FF;
  border: 2px black;
}